@{
    ViewBag.Title = "About";
    ViewBag.Title = "We believe in second chances";

    if (this.User.Identity.Name.Length.Equals(8) && !User.Identity.Name.Contains("com"))
    {
        Layout = "~/Views/Shared/_LayoutRefugee.cshtml";
    }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>about us</h1>
            <ul class="bread-crumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--About Section-->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="~/images/resource/aboutimage.jpg" alt="" />
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="title">Homely Home</div>
                        <h2>Show Your Love<br></h2>
                    </div>
                    <div class="dark-text">This is a website that people can donate items to refugee families</div>
                    <div class="text">The main purpose of this project is to help refugees who just arrived at Australia to resettle their new homes. People leave their
                     countries and come to Australia with nothing. It is hard and tough for them to start a new life in a new country 
                    and people do not have stable and fortunate life like us, so we should give them a hand to help them to furnish their new homes. We wish them to have a better life than before.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->

<section>
    <div style="background-color:black; text-align:center">
        <ul>
            <li><a href="@Url.Action("Disclaimer","Home")">Disclaimer</a></li>
        </ul>
    </div>
</section>
<!--End Services Section-->



