@{
    ViewBag.Title = "Learn more";
    if (this.User.Identity.Name.Length.Equals(8) && !User.Identity.Name.Contains("com"))
    {
        Layout = "~/Views/Shared/_LayoutRefugee.cshtml";
    }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>learn more</h1>
            <ul class="bread-crumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>Learn more</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--About Section-->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix add-margin-bottom">
            <!--Barchart Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <canvas id="totalRefugees"></canvas>
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="title">Number of refugees came to Australia</div>
                        <h2>Statistics<br></h2>
                    </div>
                    <div class="dark-text">From year 2007 to year 2016</div>
                    <div class="text">The bar chart demonstrates the trend of number of refugees who came to Australia from 2007 to 2017. The number of refugees goes up every year from the period. From the bar chart, we can concllude that more and more refugees came to Australia for resettlement.</div>
                </div>
            </div>
        </div>
        <div class="row clearfix add-margin-bottom">
   
            <!--Content Column-->
            <div class="content-column col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="title">Refugees came to Australia worldwide.</div>
                        <h2>Statistics<br></h2>
                    </div>
                    <div class="dark-text">Year 2016</div>
                    <div class="text">The following map illustrates the number of refugees who came to Australia in 2016. The darker color means higher refugee intake from a particular cuntry. </div>
                </div>
            </div>

            <!--Choropleth Column-->
            <div class="image-column col-sm-12 col-xs-12">
                <div class="image">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->



@*
    <!--sponsors style One-->
    <section class="sponsors-style-one">
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Our Partners</h2>
            </div>
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--End Sponsors Style One-->*@
