@{
    ViewBag.Title = "Our Team";
    if (this.User.Identity.Name.Length.Equals(8) && !User.Identity.Name.Contains("com"))
    {
        Layout = "~/Views/Shared/_LayoutRefugee.cshtml";
    }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }

}
  <!--Team Section-->
<section class="team-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-1.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                               
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Master of Information Technology</div>
                        <h3><a href="#">Shen Li</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-2.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                               
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Master of Information Technology</div>
                        <h3><a href="#">Sukhwinderjeet Kaur</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-3.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                              
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Master of Business Information Syetem</div>
                        <h3><a href="#">Daniel Toro Duque</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-4.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Master of Information Technology</div>
                        <h3><a href="#">Junweipan</a></h3>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>
<!--End Team Section-->
\
<!--Fullwidth Section One-->
<section class="fullwidth-section-one">
    <div class="section-outer clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url(images/fullwidth-1.jpg);">
            <div class="hidden-image">
                <img src="images/fullwidth-1.jpg" alt="" />
            </div>
        </div>

        <!--Left Column-->
        <div class="left-column">
            <div class="content">
                <!--Sec Title-->
                <div class="sec-title">
                    <h2>Join <span>our event & helping us by donating</span></h2>
                </div>
                <div class="text">It is an non-profit organization website, we offer  nice people in Australia who want to help these refugees, the donor need to register an account in the website, and donate the furniture they want, there are 11 basic household can be donated. They can see the wish list that proposed by refugees.</div>
                <div class="row clearfix">
                    <!--Donate Box-->
                    <div class="donate-box col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-piggy-bank"></span>
                            </div>
                            <h3><a href="services.html">Donate Now</a></h3>
                        </div>
                    </div>

                    <!--Donate Box-->
                    <div class="donate-box col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-cash"></span>
                            </div>
                            <h3><a href="services.html">Sponsor Projects</a></h3>
                        </div>
                    </div>

                    <!--Donate Box-->
                    <div class="donate-box col-md-4 col-sm-4 col-xs-12">
                        <div class="inner">
                            <div class="icon-box">
                                <span class="icon flaticon-heart"></span>
                            </div>
                            <h3><a href="services.html">Be a Volunteer</a></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
