
@if (Request.IsAuthenticated)
{
   
    {

            <li>  @Html.ActionLink("Hello " + User.Identity.Name , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
       using (Html.BeginForm("Logout", "DonorRegister", FormMethod.Post, new { id = "logoutForm" }))
        {
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        }


    }
}

else

{
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Join Us", "Registration", "DonorRegister", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Login", "Login", "DonorRegister", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            }

