@{
    ViewBag.Title = "About";
    ViewBag.Title = "We believe in second chances";
}
<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>about us</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--About Section-->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="../images/resource/about.jpg" alt="" />
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="title">2000+ volunteer</div>
                        <h2>People working with us <br> since 1987!!</h2>
                    </div>
                    <div class="dark-text">Lorem ipsum dolor graecis postulant. Quas saperet maiestatis ne me, nec </div>
                    <div class="text">Lorem ipsum dolor graecis postulant. Quas saperet maiestatis me tamqua. Inani nullam eos in. Alii unum nat veniam nusquam.Cum impedit democriu tum no.Ferri conse quat democritum in ius, an has eros nominavi scribentur,et ius debet gracis definiebas vituperat quality checker gracis qas parat laqlam domero.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section-->
<!--Services Section-->
<section class="services-section style-two">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="sub-title">Our Focus</div>
            <h2>What We Do</h2>
        </div>

        <div class="row clearfix">
            <!--Services Block Two-->
            <div class="services-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon"><img src="images/resource/icon-1.png" alt="" /></span>
                    </div>
                    <h3>Recycling</h3>
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="services.html">Recycling</a></h4>
                                <div class="text">Lorem ipsum dolor graecis postu lant. Quas saperet maiestatis me tamqua. Inani nullam eos in. Alii unumeniam nusquam.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon"><img src="images/resource/icon-2.png" alt="" /></span>
                    </div>
                    <h3>Water Refine</h3>
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="services.html">Water Refine</a></h4>
                                <div class="text">Lorem ipsum dolor graecis postu lant. Quas saperet maiestatis me tamqua. Inani nullam eos in. Alii unumeniam nusquam.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon"><img src="images/resource/icon-3.png" alt="" /></span>
                    </div>
                    <h3>Eco System</h3>
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="services.html">Eco System</a></h4>
                                <div class="text">Lorem ipsum dolor graecis postu lant. Quas saperet maiestatis me tamqua. Inani nullam eos in. Alii unumeniam nusquam.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Services Block Two-->
            <div class="services-block-two col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon"><img src="images/resource/icon-4.png" alt="" /></span>
                    </div>
                    <h3>Solar System</h3>
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4><a href="services.html">Solar System</a></h4>
                                <div class="text">Lorem ipsum dolor graecis postu lant. Quas saperet maiestatis me tamqua. Inani nullam eos in. Alii unumeniam nusquam.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Services Section-->
<!--Volunter Section-->
<section class="volunter-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <!--Sec Title-->
                    <div class="sec-title medium">
                        <div class="sub-title">Our Mission</div>
                        <h2>We’ve <span>large volunteer</span><br> community to set environment</h2>
                    </div>

                    <!--Volunter Box-->
                    <div class="volunter-box">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon"><img src="images/resource/icon-5.png" alt="" /></span>
                            </div>
                            <h3><a href="services.html">Recycling Rubbish</a></h3>
                            <div class="text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, illum dolore feugiat.</div>
                        </div>
                    </div>

                    <!--Volunter Box-->
                    <div class="volunter-box">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon"><img src="images/resource/icon-6.png" alt="" /></span>
                            </div>
                            <h3><a href="services.html">Plant Ecology</a></h3>
                            <div class="text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, illum dolore feugiat.</div>
                        </div>
                    </div>

                    <!--Volunter Box-->
                    <div class="volunter-box">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon"><img src="images/resource/icon-7.png" alt="" /></span>
                            </div>
                            <h3><a href="services.html">Dynamic Ecology</a></h3>
                            <div class="text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, illum dolore feugiat.</div>
                        </div>
                    </div>

                </div>
            </div>
            <!--Image Column-->
            <div class="image-column style-two col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="images/resource/elephant.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Volunter Section-->
<!--Counter Section-->
<section class="counter-section" style="background-image:url(images/background/2.jpg);">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <div class="title">We’ve Completed</div>
            <h3>More than <span>1000+ Work</span> Successfully</h3>
        </div>
        <!--Fact Counter-->
        <div class="fact-counter">
            <div class="row clearfix">

                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box"><span class="icon flaticon-water-drop"></span></div>
                        <h4 class="counter-title">Completed Projects</h4>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="2500" data-stop="1236">0</span>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box"><span class="icon flaticon-leaves"></span></div>
                        <h4 class="counter-title">Fund Collected</h4>
                        <div class="count-outer count-box">
                            <span class="plus">$</span>
                            <span class="count-text" data-speed="2000" data-stop="75">0</span>
                            <span class="plus">K</span>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box"><span class="icon flaticon-smile"></span></div>
                        <h4 class="counter-title">Expert Volunteer</h4>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="3500" data-stop="2760">0</span>
                            <span class="plus">+</span>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box"><span class="icon flaticon-medal"></span></div>
                        <h4 class="counter-title">Award Winner</h4>
                        <div class="count-outer count-box">
                            <span class="count-text" data-speed="2000" data-stop="39">0</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!--End Counter Section-->
<!--Team Section-->
<section class="team-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <h2>Our Volunteer</h2>
            <div class="text">Lorem ipsum dolor graecis postulant. Quas saperet maiestatis ne me, nec clita tamquam te. Inani </div>
        </div>
        <div class="row clearfix">
            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-1.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Senior Volunteer</div>
                        <h3><a href="#">Rashed kabir</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-2.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Senior Volunteer</div>
                        <h3><a href="#">Jannatul Ferdous</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-3.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Senior Volunteer</div>
                        <h3><a href="#">Muhibbur Rashid</a></h3>
                    </div>
                </div>
            </div>

            <!--Team Member-->
            <div class="team-member col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/resource/team-4.jpg" alt="" />
                        <div class="overlay-box">
                            <ul class="social-icon-two">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-box">
                        <div class="designation">Senior Volunteer</div>
                        <h3><a href="#">Marisson Viper</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Team Section-->
<!--Testimonial Section-->
<section class="testimonial-section" style="background-image:url(images/background/3.jpg);">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title light centered">
            <div class="sub-title">Testimonials</div>
            <h2>What <span>People</span> Are Saying</h2>
        </div>
        <div class="two-item-carousel owl-carousel owl-theme">

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-1.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-2.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-1.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-2.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-1.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

            <!--Testimonial Block-->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box"><img src="images/resource/author-2.jpg" alt="" /></div>
                    <div class="quote-icon"><span class="icon flaticon-right-quotation-mark"></span></div>
                    <h4>Maria  Camrison</h4>
                    <div class="designation">Web Devoloper</div>
                    <div class="text">The greatest discovery of all time is that a person can change his future by some merely changing his attitude.</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Testimonial Section-->
<!--sponsors style One-->
<section class="sponsors-style-one">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Our Partners</h2>
        </div>
        <!--Sponsors Carousel-->
        <ul class="sponsors-carousel owl-carousel owl-theme">
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
            <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
        </ul>
    </div>
</section>
<!--End Sponsors Style One-->
